<html>
	<head>
		<title>Toby Waite</title>
		<link href="../static/main.css" media="all" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div id='container'>
			<header>
				<h1>Toby Waite</h1>
				<img id='header_trace' src='static/img/header_trace.png' />
				<h2>{ this is my website }</h2>
			</header>
			<div id='content'>
				<section id='blog'>
				</section>
				<section id='github'>
				</section>
				<section id='about'>
				</section>
				<section id='flickr'>
				</section>
				<section id='twitter'>
				</section>
				<section id='lastfm'>
				</section>
			</div>
			<footer>
				Copyright 2012 Toby Waite <br/>
				Powered by <a href='http://www.pylonsproject.org/'>Pyramid</a> and <a href='http://www.heroku.com'>Heroku</a>.<br/>
				Source for this site can be found at <a href='http://www.github.com/tobywaite/tobywaiteNet'>github:tobywaite/tobywaiteNet</a>.<br/>
			</footer>
		</div>
</html>
